h1{
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
}

h2, .logo {
    padding: 50px 0px;
    font-size: 24px;
    line-height: 29px;
    }
    
h4 {
    padding: 50px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    }
    
a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    }

ul{
    list-style-type: none;
    }

li{
    padding: 10px 0px;
    }

p{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    }

.bold-section{
    font-weight: bold;
    font-style: normal;
    }

    @media only screen and (max-width: 1023px) {
        h1, h2, h4, p, .logo {
            text-align: center;
            padding: 10px;
        }
    }